@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap');

            
            *{
                margin: 0;
            }
            .text-elements{
                padding: 10px 0px 10px 0px;
                font-size: 16px;
            }
            .box-border-black{
                padding:10px;
                display: inline-block;
                border: 1px solid black;
                margin-top: 10px;
                margin-bottom: 30px;
            }
            
                .main-body{
                    margin-top: 20px;
                    margin-left: 50px;
                    margin-right: 30%;/*change to px*/
                }
                
                .company-name{
                    font-family: 'Comfortaa';/*change*/
                    padding: 30px 0px 30px 18px;/*change to px*/

                    height:30%;/*change to px*/
                    background-color: #3399CC;/*change to px*/
                    color: white;
                    font-size: 45px;
                    
                }
                .box-heading{
                    font-family: "sans-serif";
                }
                .nav{
                    font-family:'Times New Roman', Times, serif;
                    padding: 5px;
                    display:flex;
                    background-color: #333333;
                    color:white ;
                    
                }
                .container{
                    display: flex;
                    background-color: #333333;
                    
                }
                .image{
                    margin-left: auto;
                    margin-right: 30px;
                    padding: 8px 0px 8px 0px;
                    
                }
                
                
            
                
                .nav-buttons{
                    font-family: 'Raleway', sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 5px 20px 5px 20px;
                }
                
                

    .box-text-style{
        list-style-type:"-";
        color:black;
        font-family: 'Raleway', sans-serif;
    }
                
